@layout('master')

@section('content')

<ul>
    <li><a href="/users">Usuários</a></li>
    <li><a href="/categories">Categorias</a></li>
    <li><a href="/priorities">Prioridades</a></li>
    <li><a href="/ticketStatus">Status de Ticket</a></li>
</ul>

@endsection