<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Easy Desk</title>
  {{ style('style') }}
</head>
<body>
    <h1><a href="/index">Easy Desk</a></h1>

    @section('content')
    @endsection
</body>
</html>
