<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Easy Desk</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div>
      <p>Hello Easy Desk!</p>
    </div>
  </section>
</body>
</html>
