@layout('master')

@section('content')

<form action="{{ route('categories.store') }}" method="post">
    <label for="description">Descrição:</label>
    <input type="text" name="description">
    <br>
    <input type="submit" value="Cadastrar">
</form>

@endsection