@layout('master')

@section('content')

<form action="{{ route('users.store') }}" method="post">
<label for="username">Username:</label>
<input type="text" name="username">
<br>
<label for="email">E-mail:</label>
<input type="email" name="email">
<br>
<label for="password">Senha:</label>
<input type="password" name="password">
<br>
<input type="submit" value="Cadastrar">
</form>

@endsection